html {

  /*background: url(../images/pexels-photo-904807.jpeg) no-repeat center center fixed;*/
  background: url(../images/gabrielhome.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
}
